
Content-Type: text/html; charset=utf-8

<html>
<body>
    <h4>Hallo,</h4>

    <p>Einer ihrer Vertrage wurde nicht rechtzeitig bearbeitet.</p>
    <p>Bitte ueberpruefen Sie ihre Aufgaben und unternehmen
    die notwendigen Schritte.</p>
</body>
</html>